
.front_page_items h2{
    text-align: center;
    color: gold;
    -webkit-text-stroke: 1px black;
}

.front_page_items{
    font-style: italic;
    line-height: 3em;
}

.front_page_item img{
    width: 50%;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0px 10px 10px 10px rgba(19, 35, 52, 0.3);}

.front_page_item p{
    width: 48%;    
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;
}

.bottom {
    font-size: 32px;
    text-align: center;
}

.bottom a:hover,
.bottom a:active{
    color: gold;
}