{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block styles %}
<link rel="stylesheet" href="{% static "transfers/transfer.css" %}">
<link rel="stylesheet" href="{% static "form.css" %}">
{% endblock styles %}

{% block content %}
<div class="white-container">
  <h2>{% trans "Filters" %}</h2>
  <form method="post" action="" class="standard-form">
    {% csrf_token %}
    {{form}}
    <button type="submit">{% trans "Refresh" %}</button>
  </form>
</div>
<div class="white-container">
  {%for transfer in transfers %}
    {% include "transfers/include/transfer.html" %}
  {% empty %}
    <p> {% trans "No transfer to print" %}</p>
  {% endfor %}

</div>

{% endblock content %}