.filters{
    display: grid;
    grid-template-columns: 1fr;
}

.filters div{
    justify-self: center;
}

@media screen and (min-width:800px){
    .filters{grid-template-columns: 1fr 1fr;
    }

    .filters h3{
        grid-area: span 1 / span 2;
        text-align: center;
    }
}
