* {
    box-sizing: border-box;
}

body{
    margin:0;
    font-family:sans-serif;
    background-color: #e6effc;
    display: grid;

    grid-template-rows: 50px 110px auto minmax(70vh, auto) auto;
    grid-template-columns: 100%;
    grid-template-areas: "nav_top"
                        "nav_main"
                        "messages"
                        "content"
                        "footer";
}


.nav-first-container {
    grid-area: nav_top;
    width: 100%;
    display: flex;
    justify-content: right;
}

.nav-first{
    margin-top: 10px;
    width:fit-content;
    border-radius: 16px 16px 0 0;
    background-color: #132335;
}

.flag {
    display: inline;
    padding: 10px 3px 10px 3px !important;
    margin: 0px !important;

}

.flag button {
    height: 20px;
    width: 40px;
    border: none;
    padding: 20px;
    margin: 0;
    background-color: transparent;
}

img.flag {
    width: 40px;
    height: 20px;
}

.nav-first a,
.nav-second a {
    color: white;
    text-decoration: none;
    font-size: 1.25em;
}


.side-left, .side-right{
    background-color: #132335;
    height: 100%;
    width: 100%;
}

.side-left{
    grid-area: side-left;
}

.side-right{
    grid-area: side-right;
}

.nav-second img {
    padding: 5px;
}

.nav-second-container {
    background-color: #132335;
    height: 110px;
    display: flex;
    grid-area: nav_main;
}

.nav-second{
    display: flex;
}

.content {
    margin-top: 10px;
    margin-bottom: 30px;
    grid-area: content;

}

.messages{
    grid-area: messages;
}

div.messages li{
    list-style: none;
    padding: 5px;
}

li.success {
    border:green solid 2px;
    border-radius: 5px;
    background-color: lightgreen;
}

li.warning{
    border: orangered solid 2px;
    border-radius: 5px;
    background-color: lightsalmon;
}

li.error{
    border: red solid 2px;
    border-radius: 5px;
    background-color: lightsalmon;
}

li.info, li.debug{
    border: #132335 solid 2px;
    border-radius: 5px;
}

.content {
    width: 100%;
}

footer {
    color: orange;
    grid-area: footer;
    padding: 10px;
    background-color: #132335;
}


.footer-container {
    display: flex;
    flex-direction: column;
}


.footer-container div{
    padding: 5px 10px;
}

footer div{
    text-align: center;
}

.footer-side-left{
    grid-area: footer-left;
    background-color: #132335;
    height: 100%;
    width: 100%;

}

.footer-side-right{
    grid-area: footer-right;
    background-color: #132335;
    height: 100%;
    width: 100%;
}

a:hover,
a:active {
    color:orange;
}

@media screen and (min-width:800px){
    body {    
        grid-template-columns: 1fr minmax(800px, 1000px) 1fr;
        grid-template-areas:". nav_top ."
                            "side-left nav_main side-right"
                            ". messages ."
                            ". content ."
                            "footer-left footer footer-right";
    }
    .footer-container {
        flex-direction: row;
    }
    .footer-container div{
        width: 33%;
    }
}