
.standard-form label{
    font-weight: bold;
    font-size: 1.25em;
}

.standard-form input{
    margin: 10px;
    position: relative;
    border-radius: 6px;
    background-color: white;
    font-size: 1.5rem;
}

.standard-form select{
    margin: 10px;
    position: relative;
    border-radius: 6px;
    background-color: white;
    font-size: 1.5rem;
}


.standard-form_field_error input{
    background-color: red;
    color: black;
}

.standard-form  input:hover,
.standard-form input:active{
    border-color: gold;
    color: black;
}

.standard-form  input:focus{
    background-color: gold;
}

.standard-form button {
    height: 40px;
    padding: 0px 20px;
    font-size: 1.5rem;
    border-radius: 10px;
}


.standard-form button.submit{
    background-color: lightgreen;
    border-color: green;
}

.standard-form button.reset{
    background-color: lightcoral;
    border-color: red;
}