.main-layout{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

@media screen and (min-width:800px){
    .main-layout{
        grid-template-columns: 1fr 1fr;
    }
    .grid-item-reviews{
        grid-area: 1 / 1 / span 1/ span 2;
    }
    .grid-item-management{
        grid-area: 2 / 1  / span 1 / span 2;
    }
    .grid-item-cards{
        grid-area: span 1 / span 2;
    }
}