{# base.html #}
{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static "base.css" %}">
  {% block styles %}{% endblock styles %}
  <title>{% block title %}Fake Bank{% endblock title %}</title>
</head>
<body>

  <header class="header-main">
    <nav class="nav-first">
      <div class="nav-first-items">
          {# language shift #}
          <form class="flag" action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            <button type="submit" name="language" value="pl">
              <img class= "flag" src="{% static "pl.png" %}" alt="Polski" widht="40" height="20">
            </button>
          </form>
          <form class="flag" action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            <button type="submit" name="language" value="en">
              <img class= "flag" src="{% static "en.png" %}" alt="English" widht="40" height="20">
            </button>
          </form>
          
          {% if logged %}
            <a href="{% url "dashboard" %}">{% trans "Review" %}</a>
            <a href="#">{% trans "Settings" %}</a>
            <a href="{% url "logout" %}">{% trans "Log out" %}</a>
          {% else %}
            <a href="{% url "login" %}">{% trans "Log in" %}</a>
            <a href="{% url "new_client" %}">{% trans "Register" %}</a>
          {% endif %}

      </div>
    </nav>

    <div class= "nav-second__background">
      <nav class= "nav-second">
        <a href={% url "front_page" %}><img src="{% static "logo.png" %}" alt="Fake Bank" height="100" width="100"></a>
        <div class="nav-second__items">
          {% if logged %}
            <a href="">link</a>
            <a href="">link</a>
          {% else %}
            <p class="welcome">Welcome</p>
          {% endif %}
        </div>
      </nav>

    </div>
  </header>
  {% include "banking/includes/messages.html" %}

  <div class = "content" >
    {% block content %}{% endblock content %}
  </div>
  
</body>
</html>
